*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
}
header{
background-color: #3c3c3c;
color: F075AE;
width: 100%;
padding: 20px;
}
.cabecalho-itens{
  display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1980px;
    margin: 0 auto;

}
.cabecalho_imagem{
  width: 128px;
  height: 128px;
  object-fit: contain;
}
.titulo_site{
padding: 20px;
text-align: center;
width: 50%;
font-size: 30px;
color:#c95aa7;
font-family:cursive;
}
.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}
.social-icon {
    width:50px;
    height: 50px;
    object-fit: contain;
}
.banner1{
width: 100%;
}

.escola{
background-image: linear-gradient(#e799d0,#c95aa7);
color: white;
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.estudante_titulo{
text-align: center;
}
.estudante_texto{
text-align: center;
font-size: 18px;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}
.link{
color: #ffffff;
text-decoration: none;
}

.localizacao {
    width: 300px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.localizacao a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0066ff;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.localizacao a:hover {
    background: #0044aa;
}