*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
}
header{
background-color: #A1BC98;
color: F075AE;
width: 100%;
padding: 20px;
}
.cabecalho-itens{
  display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1980px;
    margin: 0 auto;

}
.cabecalho_imagem{
  width: 128px;
  height: 128px;
  object-fit: contain;
}
.titulo_site{
padding: 20px;
text-align: center;
width: 50%;
font-size: 30px;
font-family:cursive;
}
.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
width: 128px;
height: 128px;
}
.banner1{
width: 100%;
}

.escola{
background-image: linear-gradient(#40A2E3,#7FC2EF);
color: white;
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ffffff;
text-decoration: none;
}
